@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declarations */
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Black.woff') format('woff2'),
    url('../fonts/Geist-Black.woff') format('woff');
  font-weight: 800;
  /* UltraBlack */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Bold.woff2') format('woff2'),
    url('../fonts/Geist-Bold.woff') format('woff');
  font-weight: 700;
  /* Bold */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2'),
    url('../fonts/Geist-SemiBold.woff') format('woff');
  font-weight: 600;
  /* SemiBold */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Medium.woff2') format('woff2'),
    url('../fonts/Geist-Medium.woff') format('woff');
  font-weight: 500;
  /* Medium */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Light.woff2') format('woff2'),
    url('../fonts/Geist-Light.woff') format('woff');
  font-weight: 300;
  /* Light */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Thin.woff2') format('woff2'),
    url('../fonts/Geist-Thin.woff') format('woff');
  font-weight: 100;
  /* Thin */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Regular.woff2') format('woff2'),
    url('../fonts/Geist-Regular.woff') format('woff');
  font-weight: 400;
  /* Regular */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-UltraLight.woff2') format('woff2'),
    url('../fonts/Geist-UltraLight.woff') format('woff');
  font-weight: 200;
  /* UltraLight */
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-UltraBlack.woff2') format('woff2'),
    url('../fonts/Geist-UltraBlack.woff') format('woff');
  font-weight: 900;
  /* UltraBlack */
}

.light {
  @apply bg-white transition-colors ease-in-out duration-500;
}

.dark {
  @apply bg-black transition-colors ease-in-out duration-500;
}


html,
body {
  overscroll-behavior: none;
  /* Disable bounce effect */
  scroll-behavior: smooth;
}

/* Hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Microsoft Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  /* Adjust as needed */
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.hide-arrow[type="number"]::-webkit-inner-spin-button,
.hide-arrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}